@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&family=Castoro:ital@1&family=Lobster&family=Marck+Script&family=Playball&family=Roboto+Mono:wght@300&family=Smooch&family=Updock&family=Viga&display=swap');
.box{
    font-family: 'Roboto Mono', monospace;
        display: flex;
    color: antiquewhite;
    font-weight: 50rem;
    font-size: 1.875rem;
    width: 75rem;
    text-align: center;
  
}
.press{
    margin: auto;
}
.title{
    color: rgb(240, 104, 181);
    
}
.ref{
    margin-top: 1.25rem;
    width: 37.5rem;
    height: 6.25rem;
}
.icons{
    background-color: rgb(240, 104, 181);
    border-radius: 3.125rem;
    color: aliceblue;
    width: 3.75rem;
    height: 3.75rem;
    margin: 1.25rem;
    padding: 0.9375rem; 
}

@media (max-width: 992px){
    .box{
        /* background-color: aqua;
        font-family: 'Roboto Mono', monospace;
        color: antiquewhite;
        font-weight: 10rem;
        font-size:0.875rem;
        width: 55rem;
        text-align: center; */
      
    }
    
}
@media (max-width: 600px){
    .box{
        display: block;
      font-weight: 2rem;
        font-size: 2.875rem;
        width: 600px;
        height: 500px;
      
    }
  
    .press{
        font-size: 12pt;
    }
    .title{
        color: rgb(240, 104, 181);
        
    }
    .img{
        text-align: center;
        width:37.5rem;
        height: 18.25rem;
    }
    .ref{
        margin:0.75rem;
        width: 550px;
        text-align: center;
        height: 4.25rem;
    }
    .icons{
        width: 1.75rem;
        height: 1.75rem;
        margin: 0.25rem;
        padding: 0.375rem;
    }
}
@media (max-width:420px){
    .box{
     
        font-weight: 50rem;
        font-size: 1.875rem;
        width: 26.25rem;
        text-align: center;
        padding: 20px;
      
    }
    .press{
        margin: auto;

    }
   
    .ref{
        width:21.75rem;
        height: 5.25rem;
    }
    .icons{
        background-color: rgb(240, 104, 181);
        border-radius: 3.125rem;
        color: aliceblue;
        
        /* width: 3.75rem;
        height: 3.75rem;
        margin: 1.25rem;
        padding: 0.9375rem;  */
    }
    .img{
        text-align: center;
        width:22.5rem;
        height: 18.25rem;
    }
}
@media (max-width:300px){
    .box{
     
        font-weight: 50rem;
        font-size: 1.875rem;
        width: 18.75rem;
        text-align: center;
        padding: 20px;
      
    }
    .press{
        margin: auto;

    }
   
    .ref{
        width:14.75rem;
        height: 5.25rem;
    }
    .icons{
        background-color: rgb(240, 104, 181);
        border-radius: 3.125rem;
        color: aliceblue;
        
        /* width: 3.75rem;
        height: 3.75rem;
        margin: 1.25rem;
        padding: 0.9375rem;  */
    }
    .img{
        text-align: center;
        width:17.5rem;
        height: 18.25rem;
    }
}
